@import '../../constants/style';

.welcome-area {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  overflow: auto;

  width: 100vw;
  min-height: 100vh;
}

.welcome-area__headline {
  background: url('../../assets/logo-scrumlr-beta.svg') no-repeat;
  background-position-x: center;

  height: 74px;
  width: 164px;
  text-indent: -10000px;

  margin-bottom: $large-margin*2;
}

.welcome-area__promotion-wrapper {
  background: url('../../assets/visual-chair-scrumlr.svg') no-repeat $large-margin 72px, linear-gradient(to bottom, $color-mint, $color-darkest-mint);
  background-size: auto 100%;

  flex: 2 1 66%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome-area__promotion {
  font-size: initial;
  text-align: left;

  min-width: 320px;
  max-width: 640px;

  align-self: center;

  padding: $large-padding;
}

.welcome-area__promotion-text > p {
  color: $color-white;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 24px;
}

.welcome-area__promotion-text > h2 {
  color: $color-white;
  font-weight: 900;
  font-size: 6vw;
  letter-spacing: 0;
  line-height: 8vw;
}

.welcome-area__action-area-wrapper {
  display: flex;
  flex-direction: column;

  flex: 1 1 33%;

  background-color: #fff;
}

.welcome-area__action-area {
  display: flex;
  flex-direction: column;
  justify-content: center;

  flex: 1 1 100%;

  padding: $large-padding*2;
}

.welcome-area__action-footer {
  flex: 0 1 0%;
  text-align: center;

  padding: $default-padding 0 $large-padding;
}

.welcome-area__legal-notice {
  font-size: $theme-font-size;
  text-decoration: underline;
  color: $color-alternative-gray;
  font-weight: bold;

  transition: .2s ease-in-out color;
}

.welcome-area__copyright {
  color: $color-alternative-gray;
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 6px;
}

.welcome-area__legal-notice:focus,
.welcome-area__legal-notice:hover {
  color: $color-dark-gray;
}

@media #{$tablet} {
  .welcome-area__promotion-text > h2 {
    font-size: 36px;
    letter-spacing: 0;
    line-height: 48px;
  }

  .welcome-area {
    flex-wrap: nowrap;
  }

  .welcome-area__action-area {
    min-width: 300px;
    max-width: 420px;
  }

  .welcome-area__action-area-wrapper {
    z-index:1;
    box-shadow: 0 0 $base-unit*16 0 transparentize($color-dark, .45);
  }
}


